.section1 , .section2  ,.section3 , .section4, .section5{
    width: 100%;
    height: 100vh;
overflow: hidden;
}

@media screen and (max-width: 600px){

    .section1 ,.section4{
        width: 100%;
        height: 100vh;
   
    }
    .section2  ,.section3 {
        width: 100%;
        height: 145vh;
       
    }
.home{
    width: 100%;
    height:490vh;
    /* max-height: 490vh;
    min-height: 490vh; */
    background-image:url('../../../public/Background.jpg');
    background-repeat: no-repeat ;
    background-position:center;
    background-size: cover;
    overflow-x: hidden;
    
}

/* SECTION 1 */

.section1{

}
.tituloPrincipal ,.MyImage{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;

}

.tituloPrincipal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tituloPrincipal h1{
    color: var(--cor4);
    font-size: 2.5em;
 
}
.tituloPrincipal span{
    margin: 10px;   
}

.tituloPrincipal p{
    width: 70%;
    font-size: 0.7em;
    text-align: center;
    color: var(--cor7);

}
/* MYIMAGE */
.MyImage{
 
}
.ImageHome{
    position: relative;
    bottom: 40px;
    left: 20px;
}

/* SECTION 2  ,  SECTION 3*/

 .section2,.section3{
 display: flex;
 flex-direction: column;
align-items: center;
padding-top: 40px;
}

.section2 h1 ,.section3 h1{
    position: relative;
    left: -70px;
    margin-bottom: 50px;
}

.section2 .CardSection ,.section3 .CardSection{
    position: relative;
    left: -20px;
}

.section4{
 
}

.section4 .Contact , .section4 .IconContact{
    width: 100%;

}
.section4 .Contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top:50px ;
    height:80% ;
}
.section4 .Contact h1 {
    font-size: 3em;
    width: 300px;
 
  }

.section4 .Contact p {
  font-size: 0.7em;
  width:55%;
  color: var(--cor7);
}

.section4 .Contact .Info{
    display: flex;
}
.section4 .Contact .BtnContact{
    width: 32px;

    position: relative;
    top: 40px;
    left: 70px;
}

.Margin{
    margin: 30px 0px;
}
}

@media screen and (max-width: 340px){

    
/* SECTION 1 */


.tituloPrincipal h1{
    color: var(--cor4);
    font-size: 2em;
 
}
.tituloPrincipal span{
    font-size: 0.8em;
    margin: 10px;   
}

.tituloPrincipal p{
    font-size: 0.6em;
}
/* MYIMAGE */
.MyImage{
 
}
.ImageHome{
    position: relative;
    bottom: 40px;
    left: 20px;
}

/* SECTION 2  ,  SECTION 3*/

   
   .section2 h1 ,.section3 h1{
       left: -50px;
       margin-bottom: 30px;
   }
   
   .section2 .CardSection ,.section3 .CardSection{
       position: relative;
       left: -20px;
   }
   
   .section4{
    
   }
   
   .section4 .Contact , .section4 .IconContact{
       width: 100%;
   
   }
   .section4 .Contact {
       padding-top:20px ;
   }
   .section4 .Contact h1 {
       font-size: 2.5em;
       width: 250px;
    
     }
   
   .section4 .Contact p {
     font-size: 0.5em;
     width:55%;
     color: var(--cor7);
   }
   
   .section4 .Contact .Info{
       display: flex;
   }
   .section4 .Contact .BtnContact{
       width: 32px;
   
       position: relative;
       top: 40px;
       left: 70px;
   }
   
   .Margin{
       margin: 30px 0px;
   }

}

@media screen and (max-height: 680px){

    .section1 , .section2  ,.section3 , .section4, .section5{
        overflow: hidden;
    }

    /* SECTION 1 */
    .section1 .IconHome{
        width: 50px;
        position: relative;
        bottom: 90px;
    }

   
}

@media screen and (max-height: 600px){
    .section1 , .section2  ,.section3 , .section4, .section5{
        overflow: hidden;

    }

    .home{
        height: 560vh;
    }

    .section2  ,.section3 {
        width: 100%;
        height: 180vh;
    }
}

/* 
@media screen and (max-width: 320px)  {

    
    .tituloPrincipal h1{
        color: var(--cor4);
        font-size: 2em;
     
    }
    .tituloPrincipal span{
        font-size: 0.8em;
    }
    
    .tituloPrincipal p{
        font-size: 0.6em;
    }
 
    .ImageHome{
        position: relative;
        bottom: 40px;
        left: 20px;
    }
} */