
.CardTeste{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
 
   }
  

.Card, .CardCaixa{
    width: 18vw;
    max-width: 350px;
    min-width: 270px;
    height: 23vh;
    max-height: 220px;
    min-height: 180px;
    position: absolute;
    transition: 0.4s;
}
.Card{
background-color: var(--cor6);
display: flex;
align-items: center;
justify-content: center;
color: var(--cor4);
z-index: 3;

}

.Card img{
  width: 100%;
  height: 100%;
}

.CardCaixa{
  border: 1px solid var(--cor2);
    z-index: 2;
  top: 20px;
  left: 20px;

}
.CardPrimary{
    position: relative;
    top: 20px;
    left: 20px;
    cursor: pointer;
    display: flex;
    width: 18vw;
    max-width: 350px;
    min-width: 270px;
    height: 23vh;
    max-height: 220px;
    min-height: 180px;
    
}


.efeito {
  width: 100%;
  height: 100%;
  background-color: var(--cor8);
transition: 0.4s;
top: 1px;
position: absolute;
display: flex;
align-items: center;
justify-content: center;
outline: none;
text-decoration: none;
color: var(--cor2);
transition: 0.4s;

}

.efeito:hover{
  transition: 0.4s;
background-color: transparent;
}

.efeito h3{
  font-size: 0.8em;
}

.efeito:hover h3{
  transition: 0.4s;
  color: transparent;
}

@media screen and (max-width: 600px){

  .CardTeste{
    flex-direction: column;
  
   }
  


   .CardPrimary{
    margin-bottom: 100px;
   }
   
}


@media screen and (max-width: 600px){
  .Card, .CardCaixa{
    width: 13vw;
    max-width: 200px;
    min-width: 200px;
    height: 18vh;
    max-height: 180px;
    min-height: 150px;
}


}
@media screen and (max-height: 680px){

    .Card, .CardCaixa{
      width: 15vw;
      max-width: 300px;
      min-width: 220px;
      height: 20vh;
      max-height: 180px;
      min-height: 150px;
      position: absolute;
      transition: 0.4s;
    }

    .CardPrimary{ 
      left: 40px;
  }
}


@media screen and (max-width: 340px){

 .Card, .CardCaixa{
   width: 13vw;
   max-width: 200px;
   min-width: 200px;
   height: 18vh;
   max-height: 180px;
   min-height: 150px;
}


.CardPrimary:hover .CardCaixa {
top:148px ;
}


.CardPrimary:hover{
margin-bottom: 130px;

}

.CardPrimary{
margin-bottom: 50px;
}

.CardPrimary{ 
left: 50px;}}