
.CardTeste{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
   }
  

.Card, .CardCaixa{
    width: 18vw;
    max-width: 350px;
    min-width: 270px;
    height: 23vh;
    max-height: 220px;
    min-height: 180px;
    position: absolute;
    transition: 0.4s;
}
.Card{
background-color: var(--cor6);
display: flex;
align-items: center;
justify-content: center;
color: var(--cor4);
z-index: 3;
}

.CardCaixa{
  border: 1px solid var(--cor2);
    z-index: 2;
  top: 20px;
  left: 20px;
}
.CardPrimary{
    position: relative;
    top: 20px;
    left: 20px;
    cursor: pointer;
    display: flex;
    width: 18vw;
    max-width: 350px;
    min-width: 270px;
    height: 23vh;
    max-height: 220px;
    min-height: 180px;
}

 .CardPrimary:hover .CardCaixa {
 top:194px ;
 left: 0px;
   transition: 0.4s;
   background-color: var(--cor6);
   border: none;
}

.CardPrimary:hover .Card {
    transition: 0.4s;
    background-color: var(--cor2);
   }

   @media screen and (max-width: 600px){
    
.CardTeste{
  flex-direction: column;

 }

 .CardPrimary:hover .CardCaixa {
  top:194px ;
  left: 0px;
    transition: 0.4s;
    background-color: var(--cor6);
    border: none;
 }
 

 .CardPrimary:hover{
margin-bottom: 230px;
transition: 0.3s;
 }

 .CardPrimary{
  margin-bottom: 100px;
 }

   }

   @media screen and (max-height: 680px){
    .Card, .CardCaixa{
      width: 15vw;
      max-width: 300px;
      min-width: 220px;
      height: 20vh;
      max-height: 180px;
      min-height: 150px;
      position: absolute;
      transition: 0.4s;
  }

  
 .CardPrimary:hover .CardCaixa {
  top:148px ;
 }
 

 .CardPrimary:hover{
margin-bottom: 130px;

 }

 .CardPrimary{
  margin-bottom: 50px;
 }

 .CardPrimary{ 
  left: 40px;
}
   }

   @media screen and (max-width: 340px){

    .Card, .CardCaixa{
      width: 13vw;
      max-width: 200px;
      min-width: 200px;
      height: 18vh;
      max-height: 180px;
      min-height: 150px;
  }

   
 .CardPrimary:hover .CardCaixa {
  top:148px ;
 }
 

 .CardPrimary:hover{
margin-bottom: 130px;

 }

 .CardPrimary{
  margin-bottom: 50px;
 }

 .CardPrimary{ 
  left: 50px;}
   }