.icon{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 15px;
  
}

a{ 
    color: rgb(255, 222, 89);
    margin-bottom: 20px;
    font-size: 2em;
    width: 50px;
}


@media screen and (max-width:340px)  {
    a{ 
        font-size: 1.6em; 
        margin-bottom: 15px;
    }
    .icon{
     top: 30px;
      
    }
}
@media screen and (max-height: 600px)  {
    a{
        width: 16px;
        font-size: 1em;
        margin-bottom: 15px;
    }
}