.icon{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 15px;
     grid-gap:10px
}

a{ 
    color: rgb(255, 222, 89);
    font-size: 2em;
    width: 50px;
}


@media screen and (max-width:340px)  {
    a{ 
        font-size: 1.6em; 
    }
  
}
@media screen and (max-height: 610px)  {
    a{

        font-size: 1.2em;
    }
}