

 .Contact{
 display: flex;

  margin: 40px 0px;
  flex-wrap: wrap;
}
.info{

  display: flex;
  width: 33.333%;

}
.Contact .info  .icons i{
  color: var(--cor4);
  font-size: 1.7em;
}


.Contact .info .ContactInfo{
  font-size: 0.8em;
  color: var(--cor4);
padding-left: 20px
}
.Contact .info .ContactInfo p{
  font-size: 0.6em;
  color: var(--cor2);

}

@media screen and (max-width: 600px)  {
  .Contact{
    display: flex;
   }
  .info{
    width: 50%;
    margin-bottom: 20px;
  }

   .Contact .info  .icons i{
     color: var(--cor4);
     font-size: 1.3em;
   }
   
  
}
