.main{
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.main section{
    width: 50%;
    height: 100vh;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 600px)  {
    .main{
        display: block;
    }
    .main section{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

  .main .teste {
    height: 0px;
    position: absolute;
    top: 0px;
    background-color:rgba(0, 0, 0, 0.473) ;
    transition: 0.3s;
}
}