@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&family=Poppins:wght@400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

}

.TituloPrincipal{
  color: var(--cor2);
}
span{
  color: var(--cor2);
}

:root {
  --cor1:#303030;
  --cor2:#FFDE59;
  --cor3:#000000;
  --cor4:#FFFFFF;
  --cor5:#1E1E1E;
}