@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&family=Poppins:wght@400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
width: 100%;
z-index: 0;
background-color: var(--cor1);
}

h1,h2,h3,h4{

  font-family: 'Open Sans', sans-serif;
}

 .TituloPrincipal{
  color: var(--cor2);
  font-size: 2em;
} 
span{
  color: var(--cor2);
}



:root {
  --cor1:#303030;
  --cor2:#FFDE59;
  --cor3:#000000;
  --cor4:#FFFFFF;
  --cor5:#1E1E1E;
  --cor6:#606060;
  --cor7:#ffffff70;
  --cor8:#00000062;
}

/* TAMANHOS DE TELA
CELULAR MIN:3400PX
CELULAR:600PX
TABLET:768PX
NOTEBOOK:992PX
PC:1200PX

*/

@media screen and (max-width: 340px){
  .TituloPrincipal{
    color: var(--cor2);
    font-size: 1.5em;
  } 
}